<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price</title>
</head>
<body>
    <h1>The stock price is as follows</h1>
    <table>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.Date}}</td>
                <td>{{.Open}}</td>
                <td>{{.High}}</td>
                <td>{{.Low}}</td>
                <td>{{.Close}}</td>
                <td>{{.Volume}}</td>
                <td>{{.AdjClose}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>